a:focus,
button:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
}


a:focus-visible,
button:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid #443ffc;
	outline-offset: 3px;
}

.button {
	pointer-events: auto;
	cursor: pointer;
	border: none;
	padding: 1.5rem 3rem;
	position: relative;
	display: inline-block;

    span {
        color: rgba($color: $color-white, $alpha: .6);
        transition: all .3s ease-in;
    }

    &:hover span {
        color: $color-white;
    }
}

.button::before,
.button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.button--fenrir {
	background: none;
	padding: 0;
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
	width: 120px;
	height: 120px;
}

.progress {
	position: absolute;
	width: 80px;
	height: 80px;
	top: calc(50% - 40px);
	left: calc(50% - 40px);
	transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}

.button--fenrir:hover .progress {
	transform: scale3d(1.2, 1.2, 1);
}

.progress__circle,
.progress__path {
	fill: none;
	stroke: rgba($color: $color-white, $alpha: .6);
	stroke-width: 1px;
}

.button--fenrir:focus-visible .progress__circle {
	fill: var(--primary-yellow);
}

.progress__path {
	stroke: var(--primary-yellow);
	stroke-dasharray: 1;
	stroke-dashoffset: 1;
	transition: stroke-dashoffset 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}

.button--fenrir:hover .progress__path {
	stroke-dashoffset: 0;
}