strong {
    font-weight: bold;
}

$color-white: #fff;
$color-black: #101010;

body {
    background-color: #101010;
    color: $color-white;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    padding: 0 80px;
    @media (max-width: 600px) {
        padding: 0 30px;
    }
    @media (min-width: 1700px) {
        padding: 0 200px;
    }
    //font-weight: ;
    //overflow-x: hidden;
}
a {
    color: $color-white;
    text-decoration: none;
}
.header__options-contrast__black {
    background-color: #101010;
    color: $color-white;

    a {
        color: $color-white;
        border-color: $color-white;
    }

    .active {
        color: $color-white;
        border-color: $color-white;
    }
}