.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' 0,
    'opsz' 24;
    font-size: 40px;

    @media (max-width: 600px) {
        font-size: 30px;
    }
  }

section {
    grid-column: 1/ span 4;
}

.hero-section {
    //margin-top: var(--header-height);
    grid-row: 2/3;
    //align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
        width: 50%;
        font-size: 14px;
        text-align: center;
        //margin-top: 30px;
        @media (max-width: 700px) {
            width: 90%;
            font-size: 14px;
        }
    }

    &__title {
        text-align: center;
        font-size: 54px;

        span {
            font-family: "quiche-stencil", sans-serif;
            font-weight: 400;
        }

        @media (max-width: 700px) {
            width: 100%;
            font-size: 42px;
        }

        @media (max-width: 600px) {
            width: 100%;
            font-size: 28px;
        }
    }

    &__icon {
        padding: 18px 20px;
        @media (max-width: 600px) {
            padding: 15px 16px;
        }
        margin: 10px;
        overflow: hidden;
        border-radius: 50px;
        border: var(--line);
    }
}

.hero-section > *:not(:last-child) {
    margin-bottom: 60px;
    @media (max-width: 600px) {
        margin-bottom: 40px;
    }
}

.higlight__yellow {color: var(--primary-yellow);}
.higlight__pink {color: var(--primary-pink);}

.mainpage-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    //margin-bottom: 100px;
    &__id {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 30px;
        @media (max-width: 600px) {
            margin-bottom: 20px;
        }
        & > *:not(:last-child) {
            margin-right: 10px;
        }
        &__h2 {
            font-weight: 500;
            font-size: 24px;
            max-width: 80%;
            text-transform: uppercase;
            @media (max-width: 600px) {
                font-size: 21px;
            }
        }
    }

    &__line {
        flex: 1;
        height: 1px;
        background-color: $color-white;
    }
    &__intro {
        font-size: 16px;
        text-transform: uppercase;
        width: 100%;
        @media (min-width: 1700px) {
            width: 75%;
        }
        margin-bottom: 20px;
    }
    &__paragraph {
        width: 60%;
        font-weight: 300;
        @media (max-width: 800px) {
            width: 100%;
            font-size: 14px;
        }
    }
    &__infograph {
        display: flex;
        flex-direction: row;
        //justify-content: space-between;
        width: 100%;

        @media (max-width: 1000px) {
            flex-direction: column;
        }
         
        &-row {
            display: flex;
            flex: 1;
            flex-direction: row;
            margin-bottom: 30px;
            &__item {
                display: flex;
                flex: 1;
                &-icon {
                    margin-right: 8px;
                    .material-symbols-outlined {
                        font-variation-settings:
                        'FILL' 0,
                        'wght' 100,
                        'GRAD' 0,
                        'opsz' 24;
                        font-size: 40px;

                        @media (max-width: 800px) {
                            font-size: 32px;
                        }
                        //color: var(--primary-yellow);
                      }
                }
                &-data {
                    padding-top: 8px;
                    @media (max-width: 800px) {
                        padding-top: 4px;
                    }
                    span {
                        font-size: 24px;
                        font-weight: 400;
                        @media (max-width: 600px) {
                            font-size: 21px;
                        }
                    }
                    p {
                        font-size: 16px;
                        margin-top: 4px;
                        font-weight: 200;
                    }
                }
            }
        }
    }
}

#planeta_about .mainpage-section__paragraph {
    margin-bottom: 50px;
}

#planeta_exhibitions .mainpage-section__paragraph {
    margin-top: 20px;
    align-self: end;
    text-align: right;
}

.exhibitions__container {
    //display: flex;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 40px;
    margin-bottom: 30px;
    @media (max-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 40px;
    }
    @media (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 50px;
    }
    & > :last-child {
        @media (max-width: 600px) {
            grid-column: 1 / 2;
        }
    }
    .exhibitions__items {
        width: 100%;
        cursor: pointer;
        figure {
            width: 100%;
            height: 375px;
            transition: filter 0.3s ease; 
            @media (max-width: 600px) {
                height: 50vh;
            }
            overflow: hidden;
            margin-bottom: 14px;
            border: 1px solid $color-white;
            img {
                filter: grayscale(100%) blur(3px);
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 0.3s ease-in-out;
            }
        }

        figure:hover {
            overflow: hidden;
            img {transform: scale(1.05); filter: none;}
        }
        &__info-container {display: flex; 
            justify-content: space-between; 
            width: 95%;
            &__tags {
                margin-right: 10px;
                display: flex;
                flex-wrap: wrap;
                ul li {display: inline-block; padding: 4px 8px 6px 8px; border: var(--line); border-radius: 10px; margin-bottom: 8px;
                width: max-content;}
                ul li:not(:last-child) {margin-right: 4px;}
                ul li span {
                    text-transform: uppercase;
                    color: $color-white;
                    font-size: 12px;
                }
            } 
            &__date {
                font-size: 14px;
            }
        }
        .section__line {
            width: 70%;
            height: 1px;
            background-color: $color-white;
            margin: 8px 0 12px 0px;
        }
        &__title {
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 6px;
        }
        &__caption {
            font-style: italic;
            font-weight: 300;
        }
    }
}

.blog__slider {
    //padding: 0 60px;
    margin-top: 40px;

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @media (max-width: 1000px) {
            grid-template-columns: repeat(1, 1fr);
            grid-row-gap: 50px;
        }
        grid-column-gap: 10px;
        width: 100%;
        &__item {
            figure {
                width: 100%;
                height: 300px;
                overflow: hidden;
                margin-bottom: 14px;
                border: 1px solid $color-white;

            img {
                width: 105%;
                height: 105%;
                object-fit: cover;
            }
            }
            &__info {
                display: flex;
                flex-direction: column;
                align-items: start;
                .slider__item__date {font-size: 14; font-weight: 300;}
                .slider__item__separator {width: 60%; height: 1px; background-color: $color-white;}
                .slider__item__title {font-size: 18px; font-weight: 500; max-width: 70%;}
                .slider__item__description {font-size: 14px; font-weight: 400;}
            }

            &__info > *:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}

.slider__item__cta {
    all:initial;
    font-size: 16px;
    text-transform: uppercase;
    border: $color-white 1px solid;
    padding: 14px 20px;
    @media (max-width: 600px) {
        padding: 10px 16px;
    }
    width: auto;
    color: $color-black;
    background-color: $color-white;
    margin-top: 8px;
    font-family: "Montserrat", sans-serif;
    transition: all 0.4s ease-in-out ;
}

.slider__item__cta:hover {
    background-color: $color-white;
    color: #101010;
}

.footer__main {
    grid-column: 1 / span 4;
    display: flex;
    flex-direction: column;
    &__title {font-weight: 600; font-size: 18px; text-transform: uppercase; margin-bottom: 10px;}
    &__text {font-size: 14px; font-weight: 300;}
}

.full-separator {
    width: 100%;
    height: 1px;
    background-color: $color-white;
    margin-bottom: 20px;
}