/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://use.typekit.net/vcz1wob.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --primary-yellow: #FBDA61;
  --primary-pink: #FF5ACD;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .4);
  --shadow-light: 0 1rem 3rem rgba(0, 0, 0, .1);
  --line: 1px solid #fff;
  --header-height: 90px;
  --header-height-mobile: 80px;
  --grid-row-gap: 100px;
  --grid-row-gap-med: 80px;
  --grid-row-gap-small: 60px;
}

strong {
  font-weight: bold;
}

body {
  background-color: #101010;
  color: #fff;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  padding: 0 80px;
}
@media (max-width: 600px) {
  body {
    padding: 0 30px;
  }
}
@media (min-width: 1700px) {
  body {
    padding: 0 200px;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

.header__options-contrast__black {
  background-color: #101010;
  color: #fff;
}
.header__options-contrast__black a {
  color: #fff;
  border-color: #fff;
}
.header__options-contrast__black .active {
  color: #fff;
  border-color: #fff;
}

header {
  grid-column: 1/span 4;
  grid-row: 1/2;
  display: flex;
  padding: 0px 5px;
  height: var(--header-height);
  border-bottom: var(--line);
  z-index: 2;
  background-color: #101010;
  position: sticky;
  top: 0;
  left: 80px;
  font-size: 14px;
}
@media (max-width: 600px) {
  header {
    height: var(--header-height-mobile);
  }
}
header ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .header__item {
  display: inline-block;
}
header .header__item a {
  text-transform: uppercase;
}
@media (max-width: 600px) {
  header .header__item-desktop {
    display: none;
  }
}
@media (min-width: 600px) {
  header .header__item-mobile {
    display: none;
  }
}
header .header__cta {
  padding: 8px 12px;
  background-color: #fff;
}
header .header__cta a {
  color: #101010;
  font-weight: 500;
}

/* EFFETTO link hover*/
.link {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  color: #fff;
}

.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.link::before {
  content: "";
  /* show by default */
}

.link--io::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.link--io:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
  transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
}

.link--io::after {
  content: "";
  top: calc(100% + 4px);
  transform-origin: 0% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.link--io:hover::after {
  transform-origin: 100% 50%;
  transform: scale3d(1, 1, 1);
  transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
}

a:focus,
button:focus {
  /* Provide a fallback style for browsers
   that don't support :focus-visible */
  outline: none;
}

a:focus-visible,
button:focus-visible {
  /* Draw a very noticeable focus style for
   keyboard-focus on browsers that do support
   :focus-visible */
  outline: 2px solid #443ffc;
  outline-offset: 3px;
}

.button {
  pointer-events: auto;
  cursor: pointer;
  border: none;
  padding: 1.5rem 3rem;
  position: relative;
  display: inline-block;
}
.button span {
  color: rgba(255, 255, 255, 0.6);
  transition: all 0.3s ease-in;
}
.button:hover span {
  color: #fff;
}

.button::before,
.button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button--fenrir {
  background: none;
  padding: 0;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  width: 120px;
  height: 120px;
}

.progress {
  position: absolute;
  width: 80px;
  height: 80px;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}

.button--fenrir:hover .progress {
  transform: scale3d(1.2, 1.2, 1);
}

.progress__circle,
.progress__path {
  fill: none;
  stroke: rgba(255, 255, 255, 0.6);
  stroke-width: 1px;
}

.button--fenrir:focus-visible .progress__circle {
  fill: var(--primary-yellow);
}

.progress__path {
  stroke: var(--primary-yellow);
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  transition: stroke-dashoffset 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}

.button--fenrir:hover .progress__path {
  stroke-dashoffset: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 0, "opsz" 24;
  font-size: 40px;
}
@media (max-width: 600px) {
  .material-symbols-outlined {
    font-size: 30px;
  }
}

section {
  grid-column: 1/span 4;
}

.hero-section {
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-section p {
  width: 50%;
  font-size: 14px;
  text-align: center;
}
@media (max-width: 700px) {
  .hero-section p {
    width: 90%;
    font-size: 14px;
  }
}
.hero-section__title {
  text-align: center;
  font-size: 54px;
}
.hero-section__title span {
  font-family: "quiche-stencil", sans-serif;
  font-weight: 400;
}
@media (max-width: 700px) {
  .hero-section__title {
    width: 100%;
    font-size: 42px;
  }
}
@media (max-width: 600px) {
  .hero-section__title {
    width: 100%;
    font-size: 28px;
  }
}
.hero-section__icon {
  padding: 18px 20px;
  margin: 10px;
  overflow: hidden;
  border-radius: 50px;
  border: var(--line);
}
@media (max-width: 600px) {
  .hero-section__icon {
    padding: 15px 16px;
  }
}

.hero-section > *:not(:last-child) {
  margin-bottom: 60px;
}
@media (max-width: 600px) {
  .hero-section > *:not(:last-child) {
    margin-bottom: 40px;
  }
}

.higlight__yellow {
  color: var(--primary-yellow);
}

.higlight__pink {
  color: var(--primary-pink);
}

.mainpage-section {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.mainpage-section__id {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}
@media (max-width: 600px) {
  .mainpage-section__id {
    margin-bottom: 20px;
  }
}
.mainpage-section__id > *:not(:last-child) {
  margin-right: 10px;
}
.mainpage-section__id__h2 {
  font-weight: 500;
  font-size: 24px;
  max-width: 80%;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .mainpage-section__id__h2 {
    font-size: 21px;
  }
}
.mainpage-section__line {
  flex: 1;
  height: 1px;
  background-color: #fff;
}
.mainpage-section__intro {
  font-size: 16px;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 20px;
}
@media (min-width: 1700px) {
  .mainpage-section__intro {
    width: 75%;
  }
}
.mainpage-section__paragraph {
  width: 60%;
  font-weight: 300;
}
@media (max-width: 800px) {
  .mainpage-section__paragraph {
    width: 100%;
    font-size: 14px;
  }
}
.mainpage-section__infograph {
  display: flex;
  flex-direction: row;
  width: 100%;
}
@media (max-width: 1000px) {
  .mainpage-section__infograph {
    flex-direction: column;
  }
}
.mainpage-section__infograph-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-bottom: 30px;
}
.mainpage-section__infograph-row__item {
  display: flex;
  flex: 1;
}
.mainpage-section__infograph-row__item-icon {
  margin-right: 8px;
}
.mainpage-section__infograph-row__item-icon .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 0, "opsz" 24;
  font-size: 40px;
}
@media (max-width: 800px) {
  .mainpage-section__infograph-row__item-icon .material-symbols-outlined {
    font-size: 32px;
  }
}
.mainpage-section__infograph-row__item-data {
  padding-top: 8px;
}
@media (max-width: 800px) {
  .mainpage-section__infograph-row__item-data {
    padding-top: 4px;
  }
}
.mainpage-section__infograph-row__item-data span {
  font-size: 24px;
  font-weight: 400;
}
@media (max-width: 600px) {
  .mainpage-section__infograph-row__item-data span {
    font-size: 21px;
  }
}
.mainpage-section__infograph-row__item-data p {
  font-size: 16px;
  margin-top: 4px;
  font-weight: 200;
}

#planeta_about .mainpage-section__paragraph {
  margin-bottom: 50px;
}

#planeta_exhibitions .mainpage-section__paragraph {
  margin-top: 20px;
  align-self: end;
  text-align: right;
}

.exhibitions__container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 40px;
  margin-bottom: 30px;
}
@media (max-width: 1000px) {
  .exhibitions__container {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 40px;
  }
}
@media (max-width: 600px) {
  .exhibitions__container {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 50px;
  }
}
@media (max-width: 600px) {
  .exhibitions__container > :last-child {
    grid-column: 1/2;
  }
}
.exhibitions__container .exhibitions__items {
  width: 100%;
}
.exhibitions__container .exhibitions__items figure {
  width: 100%;
  height: 375px;
  overflow: hidden;
  margin-bottom: 14px;
  border: 1px solid #fff;
}
@media (max-width: 600px) {
  .exhibitions__container .exhibitions__items figure {
    height: 40vh;
  }
}
.exhibitions__container .exhibitions__items figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.exhibitions__container .exhibitions__items figure:hover {
  overflow: hidden;
}
.exhibitions__container .exhibitions__items figure:hover img {
  transform: scale(1.05);
}
.exhibitions__container .exhibitions__items__info-container {
  display: flex;
  justify-content: space-between;
  width: 95%;
}
.exhibitions__container .exhibitions__items__info-container__date {
  font-size: 14px;
}
.exhibitions__container .exhibitions__items .section__line {
  width: 70%;
  height: 1px;
  background-color: #fff;
  margin: 12px 0;
}
.exhibitions__container .exhibitions__items__title {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 6px;
}
.exhibitions__container .exhibitions__items__caption {
  font-style: italic;
  font-weight: 300;
}

.blog__slider {
  margin-top: 40px;
}
.blog__slider__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  width: 100%;
}
@media (max-width: 1000px) {
  .blog__slider__container {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 50px;
  }
}
.blog__slider__container__item figure {
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-bottom: 14px;
  border: 1px solid #fff;
}
.blog__slider__container__item figure img {
  width: 105%;
  height: 105%;
  object-fit: cover;
}
.blog__slider__container__item__info {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.blog__slider__container__item__info .slider__item__date {
  font-size: 14;
  font-weight: 300;
}
.blog__slider__container__item__info .slider__item__separator {
  width: 60%;
  height: 1px;
  background-color: #fff;
}
.blog__slider__container__item__info .slider__item__title {
  font-size: 18px;
  font-weight: 500;
  max-width: 70%;
}
.blog__slider__container__item__info .slider__item__description {
  font-size: 14px;
  font-weight: 400;
}
.blog__slider__container__item__info > *:not(:last-child) {
  margin-bottom: 10px;
}

.slider__item__cta {
  all: initial;
  font-size: 16px;
  text-transform: uppercase;
  border: #fff 1px solid;
  padding: 14px 20px;
  width: auto;
  color: #101010;
  background-color: #fff;
  margin-top: 8px;
  font-family: "Montserrat", sans-serif;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 600px) {
  .slider__item__cta {
    padding: 10px 16px;
  }
}

.slider__item__cta:hover {
  background-color: #fff;
  color: #101010;
}

.footer__main {
  grid-column: 1/span 4;
  display: flex;
  flex-direction: column;
}
.footer__main__title {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer__main__text {
  font-size: 14px;
  font-weight: 300;
}

.full-separator {
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin-bottom: 20px;
}

/*LAYOUT PER LA PAGINA INDEX*/
.layout__grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: min-content calc(100vh - var(--header-height) - var(--grid-row-gap)) repeat(5, min-content);
  grid-column-gap: 10px;
  grid-row-gap: var(--grid-row-gap);
}
@media (max-width: 700px) {
  .layout__grid {
    grid-row-gap: var(--grid-row-gap-med);
  }
}
@media (max-width: 600px) {
  .layout__grid {
    grid-row-gap: var(--grid-row-gap-small);
  }
}
.layout__grid > :last-child {
  margin-bottom: -40px;
}

/*# sourceMappingURL=style.css.map */
